


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assets/Frontend/css/styles.css">
    <link rel="stylesheet" href="~/Assets/Frontend/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/Frontend/icon_font/font-awesome/css/font-awesome.min.css">
    <script src="~/Assets/Frontend/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/Assets/Frontend/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Frontend/owlcarousel/assets/owl.theme.default.min.css">
    <script src="~/Assets/Frontend/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Assets/Frontend/js/bootstrap.min.js"></script>
    <title>Tony Compurter</title>
</head>

<body>
    <!-- header -->
    <header class="container-fluid">
        @Html.Partial("~/Views/Shared/_HeaderChung.cshtml")
        <!-- danhmuc -->
        <div class="danhmuc">
            <div class="danhmuc-sp">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <div>DANH MỤC SẢN PHẨM</div>
            </div>
            <!-- gioithieu -->
            <div class="gioithieu">
                <ul class="nav container-fluid">
                    <li class="nav-item">
                        <img src="~/Assets/Frontend/images/save-money-2.png" alt="">
                        <p>
                            <b>CAM KẾT</b><br>
                            Gía Tốt nhât
                        </p>
                    </li>
                    <li class="nav-item">
                        <img src="~/Assets/Frontend/images/present.png" alt="">
                        <p>
                            <b>MIỄN PHÍ</b><br>
                            Vẫn Chuyển
                        </p>
                    </li>
                    <li class="nav-item">
                        <img src="~/Assets/Frontend/images/buy.png" alt="">
                        <p>
                            <b>THANH TOÁN</b><br>
                            Khi Nhận Hàng
                        </p>
                    </li>
                    <li class="nav-item doitra">
                        <img src="~/Assets/Frontend/images/reload.png" alt="">
                        <p>
                            <b>ĐỔI TRẢ HÀNG</b><br>
                            Trong 3 Ngày
                        </p>
                    </li>
                    <li class="nav-item">
                        <img src="~/Assets/Frontend/images/repair-garage.png" alt="">
                        <p>
                            <b>BẢO HÀNH</b><br>
                            Tại nơi sử dụng
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- wrapper -->
    @RenderBody()
    <!-- /wrapper -->
    <!-- footer -->
    @Html.Partial("~/Views/Shared/Footer.cshtml")
    <!-- /footer -->
    <!-- menu-res -->
    @Html.Partial("~/Views/Shared/MenuRes.cshtml")
    <!-- /menu-res -->
    <script>
        $(document).ready(function () {
            $('.slide').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                navText: ['<i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>', '<i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>'],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
            setInterval(() => {
                $(".slide .owl-nav button.owl-next").click();
            }, 10000);
            $('.slider').mouseover(function () {
                $(".slide .owl-nav button.owl-next").attr("style", "display:block");
                $(".slide .owl-nav button.owl-prev").attr("style", "display:block");
                $(".main").attr("style", "margin-top:-10px");
            });
            $('.slider').mouseout(function () {
                $(".slide .owl-nav button.owl-next").attr("style", "display:none");
                $(".slide .owl-nav button.owl-prev").attr("style", "display:none");
                $(".main").attr("style", "margin-top:0px");
            });
            // top-products
            $("#moi").click(function () {
                $("#moi").attr("style", "background:#d00306;");
                $("#moi a").attr("style", "color:white");
                $("#banchay").attr("style", "background:#cccccc;");
                $("#banchay a").attr("style", "color:black");
                $("#khuyenmai").attr("style", "background:#cccccc;");
                $("#khuyenmai a").attr("style", "color:black");
                $(".top-pr-main").attr("style", "display:none");
                $(".product-sell").attr("style", "display:none");
                $(".product-news").attr("style", "display:block");
            });
            $("#banchay").click(function () {
                $("#banchay").attr("style", "background:#d00306;");
                $("#banchay a").attr("style", "color:white");
                $("#moi").attr("style", "background:#cccccc");
                $("#moi a").attr("style", "color:black");
                $("#khuyenmai").attr("style", "background:#cccccc");
                $("#khuyenmai a").attr("style", "color:black");
                $(".product-news").attr("style", "display:none");
                $(".top-pr-main").attr("style", "display:block");
                $(".product-sell").attr("style", "display:none");
            });
            $("#khuyenmai").click(function () {
                $("#khuyenmai").attr("style", "background:#d00306;");
                $("#khuyenmai a").attr("style", "color:white");
                $("#moi").attr("style", "background:#cccccc");
                $("#moi a").attr("style", "color:black");
                $("#banchay").attr("style", "background:#cccccc;");
                $("#banchay a").attr("style", "color:black");
                $(".top-pr-main").attr("style", "display:none");
                $(".product-sell").attr("style", "display:block");
                $(".product-news").attr("style", "display:none");
            });

            //

            $('.products').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>', '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
                responsive: {
                    0: {
                        items: 1,
                        nav: true,
                        loop: false
                    },
                    300: {
                        items: 2,
                        nav: true,
                        loop: false
                    },
                    530: {
                        items: 3,
                        nav: true,
                        loop: false
                    },
                    735: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false
                    }
                }
            });
            // products-main
            $('.products-main').mouseover(function () {
                $(".products-main .owl-nav button.owl-next").attr("style", "display:block");
                $(".products-main .owl-nav button.owl-prev").attr("style", "display:block");
                $(".products-main").attr("style", "margin-bottom:-15px")
            });
            $('.products-main').mouseout(function () {
                $(".products-main .owl-nav button.owl-next").attr("style", "display:none");
                $(".products-main .owl-nav button.owl-prev").attr("style", "display:none");
                $(".products-main").attr("style", "margin-bottom:0px")
            });
            // mobile-main
            $('.mobile-main').mouseover(function () {
                $(".mobile-main .owl-nav button.owl-next").attr("style", "display:block");
                $(".mobile-main .owl-nav button.owl-prev").attr("style", "display:block");
                $(".mobile-main").attr("style", "margin-bottom:-15px")
            });
            $('.mobile-main').mouseout(function () {
                $(".mobile-main .owl-nav button.owl-next").attr("style", "display:none");
                $(".mobile-main .owl-nav button.owl-prev").attr("style", "display:none");
                $(".mobile-main").attr("style", "margin-bottom:0px")
            });
            // laptop-main
            $('.laptop-main').mouseover(function () {
                $(".laptop-main .owl-nav button.owl-next").attr("style", "display:block");
                $(".laptop-main .owl-nav button.owl-prev").attr("style", "display:block");
                $(".laptop-main").attr("style", "margin-bottom:-15px")
            });
            $('.laptop-main').mouseout(function () {
                $(".laptop-main .owl-nav button.owl-next").attr("style", "display:none");
                $(".laptop-main .owl-nav button.owl-prev").attr("style", "display:none");
                $(".laptop-main").attr("style", "margin-bottom:0px")
            });
            //smartwatch-main
            $('.smartwatch-main').mouseover(function () {
                $(".smartwatch-main .owl-nav button.owl-next").attr("style", "display:block");
                $(".smartwatch-main .owl-nav button.owl-prev").attr("style", "display:block");
                $(".smartwatch-main").attr("style", "margin-bottom:-15px")
            });
            $('.smartwatch-main').mouseout(function () {
                $(".smartwatch-main .owl-nav button.owl-next").attr("style", "display:none");
                $(".smartwatch-main .owl-nav button.owl-prev").attr("style", "display:none");
                $(".smartwatch-main").attr("style", "margin-bottom:0px")
            });
            //linhkien-main
            $('.linhkien-main').mouseover(function () {
                $(".linhkien-main .owl-nav button.owl-next").attr("style", "display:block");
                $(".linhkien-main .owl-nav button.owl-prev").attr("style", "display:block");
                $(".linhkien-main").attr("style", "margin-bottom:-10px")
            });
            $('.linhkien-main').mouseout(function () {
                $(".linhkien-main .owl-nav button.owl-next").attr("style", "display:none");
                $(".linhkien-main .owl-nav button.owl-prev").attr("style", "display:none");
                $(".linhkien-main").attr("style", "margin-bottom:0px")
            });
            // menu-res
            $(".category-res").click(function () {
                var div = $(".menu-res-left");
                div.animate({ left: '0px' }, "slow");
                $(".menu-res-right").css({ "display": "block", "transition": "3s" });
                $("body").css("overflow", "hidden");
            });
            $(".menu-res-right").click(function () {
                var div = $(".menu-res-left");
                div.animate({ left: '-280px' });
                $(".menu-res-right").css({ "display": "none", "transition": "3s" });
                $("body").css("overflow", "auto");
            });
            //giohang
            $(".shop").mousemove(function () {
                var div = $(".giohang");
                div.css("display", "block");
            });
            $(".shop").mouseout(function () {
                var div = $(".giohang");
                div.css("display", "none");
            });
            $(".shop-res").mousemove(function () {
                var div = $(".giohang-res");
                div.css("display", "block");
            });
            $(".shop-res").mouseout(function () {
                var div = $(".giohang-res");
                div.css("display", "none");
            });
            //thongtin-banhang
            $(".bh-on").mousemove(function () {
                $(".thongtin").attr("style", "display:block");
                $(".thongtin-bhonline").attr("style", "display:block")
            });
            $(".bh-on").mouseout(function () {
                $(".thongtin").attr("style", "display:none");
                $(".thongtin-bhonline").attr("style", "display:none")
            });
            $(".bh-dn").mousemove(function () {
                $(".thongtin").attr("style", "display:block");
                $(".thongtin-bhdn").attr("style", "display:block")
            });
            $(".bh-dn").mouseout(function () {
                $(".thongtin").attr("style", "display:none");
                $(".thongtin-bhdn").attr("style", "display:none")
            });
        });
    </script>
</body>
</html>