

<section class="content-header">
    <h1>
        Tin tức
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/Admin/News/Read">Tin tức</a></li>
        <li class="active">Add</li>
    </ol>
</section>
<section class="content">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Add news</div>
            <div class="panel-body">
                @* muon upload duoc anh phai co thuoc tinh enctype="multipart/form-data" *@
                <form method="post" action="" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <!-- rows -->
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-2">Name</div>
                        <div class="col-md-10">
                            <input type="text" value="@if (Model != null) { <text>@Model.name</text> }" name="name" class="form-control" required>
                        </div>
                    </div>
                    <!-- end rows -->
                    <!-- rows -->
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-2">Descripition</div>
                        <div class="col-md-10">
                            <textarea name="description" id="description">@if (Model != null) { <text>@Model.description</text> }</textarea>
                            <script language="javascript">
                                CKEDITOR.replace("description");
                            </script>
                        </div>
                    </div>
                    <!-- end rows -->
                    <!-- rows -->
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-2">Content</div>
                        <div class="col-md-10">
                            <textarea name="content" id="content">@if (Model != null) { <text>@Model.content</text> }</textarea>
                            <script language="javascript">
                                CKEDITOR.replace("content");
                            </script>
                        </div>
                    </div>
                    <!-- end rows -->
                    <!-- rows -->
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <input type="checkbox" @if (Model != null && Model.hot == 1) { <text> checked</text> } name="hot" id="hot"> <label for="hot">Hot news</label>
                        </div>
                    </div>
                    <!-- end rows -->
                    <!-- rows -->
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-2">Upload image</div>
                        <div class="col-md-10">
                            <input type="file" name="photo">
                        </div>
                    </div>
                    <!-- end rows -->
                    <!-- rows -->
                    <div class="row" style="margin-top:5px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <input type="submit" value="Process" class="btn btn-primary">
                        </div>
                    </div>
                    <!-- end rows -->
                </form>
            </div>
        </div>
    </div>
</section>

